/* o padrão do css é ter seu box-sizing = content-box
, ou seja, o conteúdo da caixa*/

/* Global --------*/

:root{
    --dark-blue: #363f5f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#f0f2f5;
    font-family: 'Montserrat', sans-serif; ;
}

.container{
    width: min( 90vw, 800px);
    margin: auto;
}

h2{
    margin-top: 3.2rem;
    margin-bottom:0.8rem;
    font-weight: normal;
    color:var(--dark-blue)
}

/* header --------*/

header{
    background:#2d4a22;
    padding: 2rem 0rem 14rem;
    text-align: center;
}

#logo{
    color: #fff;
    font-weight: 100;
}

/* balance --------*/

#balance{
    margin-top: -8rem ;
}

#balance h2{
    color: white;
    margin-top: 0;
}

/* card --------*/

.card{
    background: #fff;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    color: var(--dark-blue);
}

.card h3{
    font-weight: normal;
    font-size: 1rem;
}

.card p{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card:last-child{
    background:#49aa26;
    color: white;
    
}

/* table --------*/
#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--dark-blue);
}

table th{
    background: #fff;
    padding: 2rem 2rem;
    text-align: left;
    font-weight: bolder;
}

table td{
    background: #fff;
    padding: 2rem 2rem;
    font-weight: 600;
}

table tbody tr{
    opacity: 0.7;
}

table tbody tr:hover{
    opacity: 1;
}

table thead tr th:first-child,
table tbody tr td:first-child{
    border-radius: 0.5rem 0 0 0.5rem;
}

td.description{
    color: var(--dark-blue);
}
td.income{
    color: #12a454
}
td.expense{
    color:#e92929;
}

td.date{
    color: #969cb3;
}

/* footer --------*/
footer{
    text-align: center;
    color: var(--dark-blue);
    padding: 4rem 0 2rem;
    opacity: 0.7; 
}