/* o padrão do css é ter seu box-sizing = content-box
, ou seja, o conteúdo da caixa*/

/* Global --------*/

:root{
    --dark-blue: #363f5f;
    --green: #49aa26;
    --red: #e92929;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 93.75%; /* 15px */
}

body{
    background:#f0f2f5;
    font-family: 'Montserrat', sans-serif; ;
}

.container{
    width: min( 90vw, 800px);
    margin: auto;
}

h2{
    margin-top: 3.2rem;
    margin-bottom:0.8rem;
    font-weight: normal;
    color:var(--dark-blue)
}

/* header --------*/

header{
    background:#2d4a22;
    padding: 2rem 0rem 14rem;
    text-align: center;
}

#logo{
    color: #fff;
    font-weight: 100;
}

/* balance --------*/

#balance{
    margin-top: -8rem ;
}

#balance h2{
    color: white;
    margin-top: 0;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;

}

/* card --------*/

.card{
    background: #fff;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    color: var(--dark-blue);
}

.card h3{
    font-weight: bolder;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
    font-weight: bolder;
}

.card:last-child{
    background: var(--green);
    color: white;
    
}


/* #transaction --------*/

#transaction{
    overflow-x: auto; 
    display: block;
}

/* #transaction table --------*/
#data-table{ 
    width: 100%;
    border-spacing: 0 0.5rem ;
    color: var(--dark-blue);
   
}

/* buttons and links -------------*/

a {
    text-decoration: none;
    color: var(--green);
    font-weight: bolder;
}

a:hover{
    color: #54c52b;
}

.button.new{
    display: inline-block;
    margin: 1.2rem 0 .6rem;
}

button{
    border: none;
    background-color: var(--green);
    width:100%;
    height: 50px;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
    padding:0;
    
}

button:hover{
    background:#54c52b;
}

.button.cancel{
    border: 2px var(--red) solid;
    width:100%;
    height: 50px;
    border-radius: 0.25rem;
    color: var(--red);
    display: flex;
    justify-content:center;
    align-items:center;
    opacity: 0.7;
}

.button.cancel:hover{
    opacity: 1;
}

/*------------ table --------*/

table th{
    background: #fff;
    padding: 2rem 2rem;
    text-align: left;
    font-weight: bolder;
}

table td{
    background: #fff;
    padding: 1.5rem 2rem;
    font-weight: bolder;
}

table tbody tr{
    opacity: 0.7;
}

table tbody tr:hover{
    opacity: 1;
}

table thead tr th:first-child,
table tbody tr td:first-child{
    border-radius: 0.5rem 0 0 0.5rem;
}

table thead tr th:last-child,
table tbody tr td:last-child{
    border-radius:  0 0.5rem 0.5rem 0;
}


td.description{
    color: var(--dark-blue);
}
td.income{
    color: #12a454;
}
td.expense{
    color:var(--red);
}

td.date{
    color: #969cb3;
}


/* Modal --------------*/
.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;

    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    background-color: #f0f2f5;
    padding: 2.4rem;
    max-width: 600px;
    
}

/* Form --------*/
#form h2{
    margin-top:0;
    font-weight: bold;
}

input{
    border: none;
    background-color: white;
    border-radius: 0.25rem;
    width: 100%;
    padding: 1rem;   
}

.input-group{
    margin-bottom:.8rem;
}

.input-group .help{
    margin-top: .5rem;
    font-weight: normal;
    opacity: 0.7;
}

.input-group.actions{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.input-group.actions .button,
.input-group.actions button{
    width:48%;
}

/* footer -------------*/
footer{
    text-align: center;
    color: var(--dark-blue);
    padding: 1rem 0rem ;
    opacity: 0.7; 
}

/* Responsive --------------*/

@media (min-width: 800px) {
    html{
        font-size: 87.5%
    }

    #balance{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}